
@{
    ViewData["Title"] = "AboutUs";
}

<style>
body {
    background-color: #f8f9fa;
    color: #333;
}

.container {
    padding-top: 50px;
}

h1 {
    color: #252525;
}

p {
    font-size: 16px;
    line-height: 1.6;
}
</style >

<div class= "container" >
    <div class= "text-center" >
        <h1> About Us </h1>
        <hr>
    </div>
    <div class= "row" >
        <div class= "col-md-6 offset-md-3" >
            <p> Welcome to ABCare! We provide a safe, nurturing, and fun environment for children to learn and grow. Our experienced staff is dedicated to your child's well-being and development. Come join us!</p>
        </div>
    </div>
</div>

