@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        padding-top: 50px;
    }

    h1 {
        color: #252525;
    }

    a {
        color: #252525;
    }

    hr {
        border-color: #252525;
    }

</style>
<center>
    <div class="container">
        <div class="text-center">
            <h1>Upload Activity Picture</h1>
            <br>
            <hr>
            <br>
            <a asp-action="ShowImage" asp-controller="S3Activity">Show Activity Images</a>
            <br>
            <hr>
            <br>
            <form asp-action="ActivityUploadImage" asp-controller="S3Activity" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    Choose your activity picture: <input type="file" name="activityImage" class="form-control-file" multiple />
                </div>
                <br>
                <button class="btn btn-secondary" name="submit">Upload Image</button>
            </form>
        </div>
    </div>
</center>
