@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@*@section Styles {
    <link rel="stylesheet" href="~/css/register.css" />
}*@

<link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />


@*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@

<div class="d-lg-flex half">
    <div class="bg order-1 order-md-2"></div>
    <div class="contents order-2 order-md-1">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7">
                    <div class="d-flex mb-5 justify-content-right align-items-right">
                        <span class="ml-auto">Already have an account?<a class="back" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a></span>
                    </div>
                    <h3>Welcome to <strong>ABCare!</strong></h3>
                    <p class="mb-4">Register your account</p>
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-group first mb-4">
                            <label asp-for="Input.Email">Email</label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group first mb-4">
                            <label asp-for="Input.userfullname">Full Name</label>
                            <input asp-for="Input.userfullname" class="form-control" />
                            <span asp-validation-for="Input.userfullname" class="text-danger"></span>
                        </div>
                        <div class="form-group first mb-4">
                            <label asp-for="Input.Password">Password</label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="fform-group first mb-4">
                            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group first mb-5">
                            <select asp-for="Input.userrole" asp-items="Model.RoleSelectList" class="form-control" aria-required="true"></select>
                            <span asp-validation-for="Input.userrole" class="text-danger"></span>
                        </div>
                        <input type="submit" class="btn btn-block btn-primary" value="Register"></input>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
