
@{
    ViewData["Title"] = "Index";
}

<center>
    <h1>Subscribe to our Newsletter</h1>
    <br /><hr /><br />
    <form asp-action="processSubscription" asp-controller="SNSbroadcast">
        <div>
            <label>Enter your email: </label>
            <input type="email" placeholder="Enter your email" name="email">
        </div>
        <br /><br />
        <div>
            <button type="submit" value="Submit">Subscribe Now!</button>
        </div>
    </form>
</center>

