
@{
    ViewData["Title"] = "processSubscription";
}

<center>
    <h1>Congrats Successfully Subsribed to the newsletter!</h1>
    <p>for confirmation please check your email address</p>
    <p>your subscription ID: @ViewBag.subscriptionSuccessID</p>
    <a asp-action="Index" asp-controller="SNSExample"><button class="btn-info">Back to Subscription Page!</button></a>
</center>

