@model HealthRecords
@{
    ViewData["Title"] = "AddRecord";
}
<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        padding-top: 50px;
    }

    h1 {
        color: #252626;
    }

    table {
        width: 80%;
        margin: 0 auto;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        border: 1px solid #dee2e6;
    }

    th {
        background-color: #f8f9fa;
        text-align: left;
    }
</style>
<center>
    <div class="container">
        <h1>Add Sick Data:</h1>
        <hr />
        <form asp-controller="Health" asp-action="AddData" method="post">
            <table class="table table-bordered">
                <tr>
                    <th><label asp-for="childName"></label></th>
                    <td>
                        <input class="form-control" asp-for="childName" />
                        <span asp-validation-for="childName" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th><label asp-for="sickDate"></label></th>
                    <td>
                        <input class ="form-control" asp-for="sickDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly />
                        <span asp-validation-for="sickDate" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <button class="btn btn-secondary" >Add Record</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</center>

