@model HealthRecords
@{
    ViewData["Title"] = "EditRecord";
}
<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        padding-top: 50px;
    }

    h1 {
        color: #252626;
    }

    table {
        width: 80%;
        margin: 0 auto;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        border: 1px solid #dee2e6;
    }

    th {
        background-color: #f8f9fa;
        text-align: left;
    }
</style>
<center>
    <div class="container">
        <div class="text-center">

            <h1>Edit Health Record</h1>
            <br />
            <hr />
            <br />
            <form method="post" asp-action="UpdateRecords" asp-controller="Health">
                <table class="table table-bordered">
                    <tr>
                        <th><label asp-for="recordID"></label> </th>
                        <td>
                            <input class="form-control" asp-for="recordID" readonly />
                        </td>
                    </tr>
                    <tr>
                        <th><label asp-for="childName"></label> </th>
                        <td>
                            <input class="form-control" asp-for="childName" />
                            <span class="text-danger" asp-validation-for="childName"></span>
                        </td>
                    </tr>
                    <tr>
                        <th><label asp-for="sickDate"></label> </th>
                        <td>
                            <input class="form-control" asp-for="sickDate" />
                            <span class="text-danger" asp-validation-for="sickDate"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center">
                            <button class="btn btn-primary">Edit Record</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</center>