@model HealthRecords
@{
    ViewData["Title"] = "EditRecord";
}

<h1>Edit Health Record</h1>
<br />
<hr />
<br />
<form method="post" asp-action="UpdateRecords" asp-controller="Health">
    <table border="1">
        <tr>
            <th><label asp-for="recordID"></label> </th>
            <td>
                <input asp-for="recordID" readonly />
            </td>
        </tr>
        <tr>
            <th><label asp-for="childName"></label> </th>
            <td>
                <input asp-for="childName" />
                <span asp-validation-for="childName"></span>
            </td>
        </tr>
        <tr>
            <th><label asp-for="sickDate"></label> </th>
            <td>
                <input asp-for="sickDate" />
                <span asp-validation-for="sickDate"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center">
                <button class="btn-primary">Edit Record</button>
            </td>
        </tr>
    </table>
</form>

